/* contato.css */

/* Página Contato */
.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: auto;
    padding: 30px;
}

.contact form label {
    font-weight: bold;
}

.contact form input, .contact form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact h1{
     text-align: center;
     text-wrap: wrap;
}

.contact form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
