/* index.css */

/* Estilos para os Cards de Veículos */
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fffffff1;
}

.card {
    background-color: #d6d6d6f1;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    margin: 5px 0;
}
